##
##   Copyright (c) 2004-2020, Jean-Baptiste BRIAUD. All Rights Reserved.
##
##   Licensed under the Apache License, Version 2.0 (the "License");
##   you may not use this file except in compliance with the License.
##   You may obtain a copy of the License at
##
##       http://www.apache.org/licenses/LICENSE-2.0
##
##   Unless required by applicable law or agreed to in writing, software
##   distributed under the License is distributed on an "AS IS" BASIS,
##   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
##   See the License for the specific language governing permissions and
##   limitations under the License
##
#parse("common/common.vm")
{
  "name"    : "${application.getKeyname()}",

  "include" :
  [
    {
      "path" : "${dollar}{QOOXDOO_PATH}/tool/data/config/application.json"
    }
  ],

  "export" :
  [
    "api",
    "build",
    "clean",
    "distclean",
    "fix",
    "info",
    "inspector",
    "lint",
    "migration",
    "pretty",
    "profiling",
    "source",
    "source-all",
    "test",
    "test-source",
    "translation"
  ],

  "let" :
  {
    "APPLICATION"  : "${application.getPackageName()}",
    "QOOXDOO_PATH": "/Applications/qooxdoo-5.0.2-sdk",
    "QXTHEME"      : "dolab.fwk.theme.Theme",
    "API_EXCLUDE"  : ["qx.legacy.*","qx.test.*"],
    "LOCALES"      : [ "en" ],
##    "CACHE"        : "${dollar}{TMPDIR}/cache",
    "CACHE"        : "${properties.getCompilerOutputDir()}/qx-cache",
    "ROOT"         : "."
  }
    , 
   "jobs" :
    {
        "libraries" :
        {
            "library" :
                    [
                        {
#if(${compiler.isDebug()})
                            "manifest" : "${properties.getTargappDepDir()}/qxfwk/Manifest.json"
#else
                            "manifest" : "${properties.getTargappDepDir()}/qxfwk/Manifest.json"
#end
                        }
                    ]
        }
    }
}